@import "./../../style/variables.scss";

.switch {
  &__box {
    margin-bottom: 20px;
    display: flex;
    // align-items: center;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid $colorGrey;
  }

  &__btn__active,
  &__btn {
    flex-grow: 1;
    border: none;
    background: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    font-size: 14px;
  }

  &__btn__active {
    background-color: $colorGrey;
    color: darken($colorBg, 20%);
    border-bottom: 1px solid $colorGrey;
  }
}

p.confirm {
  font-family: $fontWorkSans;

  span {
    color: $colorAccent;
  }
}

// .fourNumber {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-bottom: 20px;
//   // display: grid;
//   // grid-template-columns: repeat(3, 1fr);
//   // gap: 0 20px;

//   .input {
//     background-color: #717171;
//     border: none;
//     box-shadow: 0 2px 1px 0 transparentize(#000000, 0.7);
//     font-size: 18px;
//     text-align: center;
//     flex-shrink: 0;
//     flex-basis: 60px;
//     margin: 5px;
//   }
// }

.resend {
  text-transform: uppercase;
  display: block;
  margin: auto;
  border: none;
  background: none;
  color: #fff;
  font-weight: 900;
  margin-bottom: 20px;
}

.iconWrp {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  .icon {
    $size: 70px;
    color: $colorGrey;
    padding: 15px;
    border: 2px solid $colorGrey;
    border-radius: $size;
    width: $size;
    height: $size;
  }
}

.title {
  text-align: center;
  font-family: $fontWorkSans;
  font-weight: bold;
  margin-bottom: 20px;
}
