.winned-items {
  margin: 50px 0;
  &-header {
    font-weight: 600;
  }
  &-row {
    height: 95px;
    background-color: #767676;
    margin: 10px 0;
  }
  &-item {
    max-height: 100%;
    position: relative;
    img {
      max-height: 100%;
    }
    flex-grow: 1;
    text-align: center;
    padding: 0 30px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &.image-item {
      height: 100%; 
      padding: 10px 30px;
      img {
        height: 100%;
      }
    }
  }
}