@import "./../../style/variables.scss";

.iconWrp {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  .icon {
    $size: 70px;
    color: $colorGrey;
    padding: 15px;
    border: 2px solid $colorGrey;
    border-radius: $size;
    width: $size;
    height: $size;
  }
}
.title {
  text-align: center;
  font-family: $fontWorkSans;
  font-weight: bold;
  margin-bottom: 20px;
}

.hidePasswordIcon {
    position: relative;
    left: 86%;
    bottom: 59px;
    color: black;
    cursor: pointer;
  }