$colorAccent: #00f344;
// $colorAccent: #e41c39;
$colorBg: #5f5f5f;
$colorBoxBg: rgba(95, 95, 95, 0.7);
$colorGrey: #b3b3b3;
$colorDarkGrey: #8f8f8f;
$colorGreen: #49c89d;
$colorBorder: #848484;

$fontWorkSans: "Work Sans", sans-serif;
