.purchase-history {
  margin-bottom: 100px;
  &-header {
    text-transform: uppercase;
    font-weight: 600;
  }
  &-row {
    height: 50px;
    background-color: #767676;
    margin: 10px 0;
  }
  &-item {
    flex-grow: 1;
    width: 30%;
    text-align: center;
    padding:0 30px;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}
