.footer {
  background-color: #000;
  height: 60px;
  color: #B5B3B7;
  align-items: center;
  padding: 0px 20px;
  // padding: 20px 100px 20px;
  font-size: 16px;
  div {
    flex-grow: 1;
    width: 33%;
    &:last-child {
      text-align: right;
    }
  }

  .social-link{
    text-align: center;
    a {
      text-align: center;
      padding:0px;
      width: 25px;
      height: 25px;
      color: #B5B3B7;
      border: solid 1px #B5B3B7;
      border-radius: 50%;
      display: inline-block;
      margin: 3px;
      line-height: 25px;
    }
  }
}
@media screen and (max-width: 768px){
  .footer{
    align-items: center;
    height: 100%;
    display: flex;
    flex-flow: column ;
    padding: 10px;

     div{
       width: max-content;
     }

    .social-link{
      width: 100%;
      text-align: center;
      a {
        text-align: center;
        padding:0px;
        width: 25px;
        height: 25px;
        color: #B5B3B7;
        border: solid 1px #B5B3B7;
        border-radius: 50%;
        margin: 5px;
        line-height: 25px;
      }
    }
  }
}
@media screen and (max-width: 1015px){
  .footer{
    align-items: center;
     div{
       width: max-content;
     }
  }
}
