@import "./../../style/variables.scss";

.iconWrp {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  .icon {
    $size: 70px;
    color: $colorGrey;
    padding: 15px;
    border: 2px solid $colorGrey;
    border-radius: $size;
    width: $size;
    height: $size;
  }
}
.title {
  text-align: center;
  font-family: $fontWorkSans;
  font-weight: bold;
  margin-bottom: 20px;
}


div.pop {
  max-width: 300px;
  top: 10px !important;

  &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 20px;

      display: block;
      border: 10px solid transparent;
      border-bottom-color: #a9a9a9;
  }
}

h3.pop_header {
  background-color: #a9a9a9;
  border-bottom: 1px solid #fff;
  font-weight: 700;
  font-family: $fontWorkSans;

  color: #fff;
}

div.pop_body {
  font-family: $fontWorkSans;
  background-color: #a9a9a9;
  color: #fff;
}

.pop {
  &_title {
    font-family: $fontWorkSans;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  &_list {
    list-style: none;
    padding-left: 20px;
    &_item {
      font-family: $fontWorkSans;
      padding-bottom: 0;
      margin-bottom: 5px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -15px;
        width: 5px;
        height: 5px;
        transform: translateY(-50%);
        border-radius: 5px;
        background-color: #fff;
      }
    }
  }
}

.hidePasswordIcon {
  position: relative;
    height: auto;
    left: 92%;
    top: 41px;
    color: black;
    cursor: pointer;
}